.glass {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    @apply border-4 border-gray-50 shrink-0  w-[30%] rounded-3xl py-20 px-7 min-w-max;
}

.darkGlass{
    background: #101010;
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7px);
    @apply border-4 border-indigo-500 shrink-0  w-[30%] rounded-3xl py-20 px-7 min-w-max;
}

#darkModeText{
    color: whitesmoke;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.darkModeBtn{
    background: rgba(111, 111, 255, 0.918);
    border: 1px solid white;
    @apply w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type='file']{
    display: none;
}

.utils{
    position: absolute;
    top: 3%;
    right: 4%;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

#logout{
    cursor: pointer;
}

#logout:hover{
    @apply text-indigo-500;
}

.cookie{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4%;
}

.cookie button:hover{
    color: green;
}